<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header><%- include("./partials/header.ejs") %></header>
    <main>
        <h1>Main Page</h1>

        <% for(let i =0; i < results.length; i++) { %>
            <div>
                <img src=<%= results[i].url %> id=<%= results[i].id %> alt="">
                <p> <%= results[i].title %></p>
            </div>
        <% } %>


    </main>
    <footer><%- include("./partials/footer.ejs") %></footer>
</body>
</html>