<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <header><%- include("./partials/header.ejs") %></header>
    <main>
        <h1>Main Page</h1>

        <div id="results">
            <% for(let i =0; i < results.length; i++) { %>
                <div name="gif_viewer" hidden="true">
                    <img src=<%= results[i].url %> id=<%= results[i].id %> alt="">
                    <p name="username" class="username"> <%= `${results[i].username?results[i].username:"unknown"} posted` %></p>
                    <p name="title" class="title"> <%= results[i].title %></p>
                </div>
            <% } %>
        </div>
        <button id="previous" type="button">PREVIOUS</button>
        <button id="next" type="button">NEXT</button>


    </main>
    <footer><%- include("./partials/footer.ejs") %></footer>

    <script>
        let allGifs = Array.from(document.getElementsByName("gif_viewer")); 
        let activeIndex = 0; 

        let TgifObject = allGifs[0].cloneNode(true);

        allGifs[0].removeAttribute("hidden");

        let PreviousButton = document.getElementById("previous");
        let NextButton = document.getElementById("next");

        PreviousButton.addEventListener("click", () =>{
            if(activeIndex > 0){
                allGifs[activeIndex].setAttribute("hidden", true); 
                activeIndex--; 
                allGifs[activeIndex].removeAttribute("hidden");
            }
        });

        NextButton.addEventListener("click", () =>{
            if(activeIndex < allGifs.length-1){
                allGifs[activeIndex].setAttribute("hidden", true); 
                activeIndex++; 
                allGifs[activeIndex].removeAttribute("hidden");
            }else{
                loadMore(allGifs[activeIndex].querySelector("img"));
            }
        });



        function loadMore(lastGif){
        let xhr = new XMLHttpRequest(); 
        xhr.open("GET","?gif_id=" + lastGif.id, true); 
        xhr.onload = function() {
            if(this.status === 200){
                const results = JSON.parse(this.responseText).results; 
                let container = document.getElementById("results"); 
                let addedGifs = []; 
                for(let i =0; i < results.length; i++){

                    const newGif = TgifObject.cloneNode(true); 
                    newGif.setAttribute("hidden", true); 
                    newGif.querySelector("img").setAttribute("id", results[i].id);
                    newGif.querySelector("img").setAttribute("src", results[i].url);
                    newGif.querySelector(".username").textContent = `${results[i].username?results[i].username:"unknown"} posted`; 
                    newGif.querySelector(".title").textContent = results[i].title; 

                    container.appendChild(newGif); 
                    addedGifs.push(newGif);
                    allGifs.push(newGif);
                }
                if(addedGifs.length > 0) {
                    allGifs[activeIndex].setAttribute("hidden", true); 
                    activeIndex++; 
                    allGifs[activeIndex].removeAttribute("hidden");
                }
            }
            else{
                console.error("Error fetching more results" + this.status); 
            }
        }
        xhr.send(); 
    }



    </script>
</body>
</html>